### 0. Load the data:

In [ ]:
import pandas as pd 
df = pd.read_csv('./data/train.csv')

In [ ]:
df.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [ ]:
df.tail()

,id,keyword,location,text,target
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

#### 看看資料的label是不是balanced

In [ ]:
from collections import Counter
Counter(df.target)

Counter({1: 3271, 0: 4342})

In [ ]:
Counter(df["keyword"]).most_common(200)

[(nan, 61),
 ('fatalities', 45),
 ('armageddon', 42),
 ('deluge', 42),
 ('body%20bags', 41),
 ('damage', 41),
 ('harm', 41),
 ('sinking', 41),
 ('collided', 40),
 ('evacuate', 40),
 ('fear', 40),
 ('outbreak', 40),
 ('siren', 40),
 ('twister', 40),
 ('windstorm', 40),
 ('collision', 39),
 ('derailment', 39),
 ('earthquake', 39),
 ('explosion', 39),
 ('famine', 39),
 ('flames', 39),
 ('hellfire', 39),
 ('sinkhole', 39),
 ('sunk', 39),
 ('weapon', 39),
 ('weapons', 39),
 ('whirlwind', 39),
 ('wreckage', 39),
 ('wrecked', 39),
 ('ambulance', 38),
 ('blaze', 38),
 ('bombed', 38),
 ('deaths', 38),
 ('derailed', 38),
 ('drowned', 38),
 ('explode', 38),
 ('fatal', 38),
 ('fire', 38),
 ('flooding', 38),
 ('hurricane', 38),
 ('injury', 38),
 ('oil%20spill', 38),
 ('thunder', 38),
 ('typhoon', 38),
 ('upheaval', 38),
 ('bioterror', 37),
 ('blizzard', 37),
 ('burning%20buildings', 37),
 ('crush', 37),
 ('curfew', 37),
 ('debris', 37),
 ('destroy', 37),
 ('emergency', 37),
 ('fatality', 37),
 ('hostages', 37),
 ('mudslide', 37),
 ('pandemonium', 37),
 ('panic', 37),
 ('police', 37),
 ('quarantined', 37),
 ('ruin', 37),
 ('sandstorm', 37),
 ('wounded', 37),
 ('wreck', 37),
 ('ablaze', 36),
 ('attack', 36),
 ('catastrophe', 36),
 ('cliff%20fall', 36),
 ('danger', 36),
 ('death', 36),
 ('desolation', 36),
 ('detonate', 36),
 ('devastation', 36),
 ('displaced', 36),
 ('dust%20storm', 36),
 ('engulfed', 36),
 ('evacuated', 36),
 ('evacuation', 36),
 ('floods', 36),
 ('massacre', 36),
 ('nuclear%20reactor', 36),
 ('refugees', 36),
 ('screaming', 36),
 ('tragedy', 36),
 ('accident', 35),
 ('airplane%20accident', 35),
 ('attacked', 35),
 ('bleeding', 35),
 ('blood', 35),
 ('bloody', 35),
 ('bridge%20collapse', 35),
 ('buildings%20burning', 35),
 ('casualties', 35),
 ('collapsed', 35),
 ('demolition', 35),
 ('derail', 35),
 ('disaster', 35),
 ('drought', 35),
 ('emergency%20plan', 35),
 ('flood', 35),
 ('hail', 35),
 ('hazardous', 35),
 ('hijacker', 35),
 ('injured', 35),
 ('inundated', 35),
 ('razed', 35),
 ('rescued', 35),
 ('rescuers', 35),
 ('rioting', 35),
 ('screams', 35),
 ('storm', 35),
 ('structural%20failure', 35),
 ('suicide%20bomb', 35),
 ('tornado', 35),
 ('traumatised', 35),
 ('aftershock', 34),
 ('annihilated', 34),
 ('army', 34),
 ('arsonist', 34),
 ('blazing', 34),
 ('bomb', 34),
 ('burning', 34),
 ('casualty', 34),
 ('collapse', 34),
 ('collide', 34),
 ('crashed', 34),
 ('demolish', 34),
 ('destruction', 34),
 ('drowning', 34),
 ('electrocuted', 34),
 ('flattened', 34),
 ('hazard', 34),
 ('heat%20wave', 34),
 ('lava', 34),
 ('loud%20bang', 34),
 ('military', 34),
 ('natural%20disaster', 34),
 ('nuclear%20disaster', 34),
 ('quarantine', 34),
 ('rainstorm', 34),
 ('riot', 34),
 ('screamed', 34),
 ('smoke', 34),
 ('terrorism', 34),
 ('tsunami', 34),
 ('blew%20up', 33),
 ('blown%20up', 33),
 ('body%20bag', 33),
 ('body%20bagging', 33),
 ('buildings%20on%20fire', 33),
 ('burned', 33),
 ('chemical%20emergency', 33),
 ('crash', 33),
 ('emergency%20services', 33),
 ('exploded', 33),
 ('fire%20truck', 33),
 ('hijack', 33),
 ('injuries', 33),
 ('landslide', 33),
 ('lightning', 33),
 ('mass%20murder', 33),
 ('meltdown', 33),
 ('panicking', 33),
 ('stretcher', 33),
 ('suicide%20bombing', 33),
 ('survived', 33),
 ('thunderstorm', 33),
 ('trouble', 33),
 ('violent%20storm', 33),
 ('wildfire', 33),
 ('wounds', 33),
 ('apocalypse', 32),
 ('arson', 32),
 ('blight', 32),
 ('cyclone', 32),
 ('destroyed', 32),
 ('detonation', 32),
 ('drown', 32),
 ('electrocute', 32),
 ('eyewitness', 32),
 ('forest%20fires', 32),
 ('hailstorm', 32),
 ('hijacking', 32),
 ('mass%20murderer', 32),
 ('survive', 32),
 ('trapped', 32),
 ('crushed', 31),
 ('devastated', 31),
 ('hostage', 31),
 ('obliterate', 31),
 ('obliterated', 31),
 ('suicide%20bomber', 31),
 ('terrorist', 31),
 ('trauma', 31),
 ('wild%20fires', 31),
 ('avalanche', 30),
 ('bioterrorism', 30),
 ('catastrophic', 30),
 ('dead', 30),
 ('mayhem', 30)]

In [ ]:
Counter(df["location"]).most_common(10)

[(nan, 2533),
 ('USA', 104),
 ('New York', 71),
 ('United States', 50),
 ('London', 45),
 ('Canada', 29),
 ('Nigeria', 28),
 ('UK', 27),
 ('Los Angeles, CA', 26),
 ('India', 24)]

In [ ]:
comma_pattern.search('Los Angeles, CA').group(1)

'Los Angeles'

In [ ]:
df = df.fillna('')

### 1. Data preprocessing

In [ ]:
import spacy
nlp = spacy.load('en_core_web_md')

In [ ]:
import re
comma_pattern = re.compile(r"(.+?)\,\s*(.+)$")
df["keyword"] = df["keyword"].apply(lambda x: x.replace('%20', ' '))
df["keyword_lemma"] = df["keyword"].apply(lambda x: ' '.join([token.lemma_ for token in nlp(x)]))
df["location_prefix"] = df["location"].apply(lambda x:  comma_pattern.search(x).group(1).strip() if comma_pattern.search(x) else x.strip())
df["location_lower_without_space"] = df["location_prefix"].apply(lambda x: x.replace(' ', '').lower())

In [ ]:
Counter(df["keyword"])

Counter({'': 61,
         'ablaze': 36,
         'accident': 35,
         'aftershock': 34,
         'airplane accident': 35,
         'ambulance': 38,
         'annihilated': 34,
         'annihilation': 29,
         'apocalypse': 32,
         'armageddon': 42,
         'army': 34,
         'arson': 32,
         'arsonist': 34,
         'attack': 36,
         'attacked': 35,
         'avalanche': 30,
         'battle': 26,
         'bioterror': 37,
         'bioterrorism': 30,
         'blaze': 38,
         'blazing': 34,
         'bleeding': 35,
         'blew up': 33,
         'blight': 32,
         'blizzard': 37,
         'blood': 35,
         'bloody': 35,
         'blown up': 33,
         'body bag': 33,
         'body bagging': 33,
         'body bags': 41,
         'bomb': 34,
         'bombed': 38,
         'bombing': 29,
         'bridge collapse': 35,
         'buildings burning': 35,
         'buildings on fire': 33,
         'burned': 33,
         'burning': 34,
         'burning buildings': 37,
         'bush fires': 25,
         'casualties': 35,
         'casualty': 34,
         'catastrophe': 36,
         'catastrophic': 30,
         'chemical emergency': 33,
         'cliff fall': 36,
         'collapse': 34,
         'collapsed': 35,
         'collide': 34,
         'collided': 40,
         'collision': 39,
         'crash': 33,
         'crashed': 34,
         'crush': 37,
         'crushed': 31,
         'curfew': 37,
         'cyclone': 32,
         'damage': 41,
         'danger': 36,
         'dead': 30,
         'death': 36,
         'deaths': 38,
         'debris': 37,
         'deluge': 42,
         'deluged': 27,
         'demolish': 34,
         'demolished': 28,
         'demolition': 35,
         'derail': 35,
         'derailed': 38,
         'derailment': 39,
         'desolate': 29,
         'desolation': 36,
         'destroy': 37,
         'destroyed': 32,
         'destruction': 34,
         'detonate': 36,
         'detonation': 32,
         'devastated': 31,
         'devastation': 36,
         'disaster': 35,
         'displaced': 36,
         'drought': 35,
         'drown': 32,
         'drowned': 38,
         'drowning': 34,
         'dust storm': 36,
         'earthquake': 39,
         'electrocute': 32,
         'electrocuted': 34,
         'emergency': 37,
         'emergency plan': 35,
         'emergency services': 33,
         'engulfed': 36,
         'epicentre': 12,
         'evacuate': 40,
         'evacuated': 36,
         'evacuation': 36,
         'explode': 38,
         'exploded': 33,
         'explosion': 39,
         'eyewitness': 32,
         'famine': 39,
         'fatal': 38,
         'fatalities': 45,
         'fatality': 37,
         'fear': 40,
         'fire': 38,
         'fire truck': 33,
         'first responders': 29,
         'flames': 39,
         'flattened': 34,
         'flood': 35,
         'flooding': 38,
         'floods': 36,
         'forest fire': 19,
         'forest fires': 32,
         'hail': 35,
         'hailstorm': 32,
         'harm': 41,
         'hazard': 34,
         'hazardous': 35,
         'heat wave': 34,
         'hellfire': 39,
         'hijack': 33,
         'hijacker': 35,
         'hijacking': 32,
         'hostage': 31,
         'hostages': 37,
         'hurricane': 38,
         'injured': 35,
         'injuries': 33,
         'injury': 38,
         'inundated': 35,
         'inundation': 10,
         'landslide': 33,
         'lava': 34,
         'lightning': 33,
         'loud bang': 34,
         'mass murder': 33,
         'mass murderer': 32,
         'massacre': 36,
         'mayhem': 30,
         'meltdown': 33,
         'military': 34,
         'mudslide': 37,
         'natural disaster': 34,
         'nuclear disaster': 34,
         'nuclear reactor': 36,
         'obliterate': 31,
         'obliterated': 31,
         'obliteration': 29,
         'oil spill': 38,
         'outbreak': 40,
         'pandemonium': 37,
         'panic': 37,
         'panicking': 33,
         'police': 37,
         'quarantine': 34,
         'quarantined': 37,
         'radiation emergency': 9,
         'rainstorm': 34,
         'razed': 35,
         'refugees': 36,
         'rescue': 22,
         'rescued': 35,
         'rescuers': 35,
         'riot': 34,
         'rioting': 35,
         'rubble': 28,
         'ruin': 37,
         'sandstorm': 37,
         'screamed': 34,
         'screaming': 36,
         'screams': 35,
         'seismic': 29,
         'sinkhole': 39,
         'sinking': 41,
         'siren': 40,
         'sirens': 29,
         'smoke': 34,
         'snowstorm': 29,
         'storm': 35,
         'stretcher': 33,
         'structural failure': 35,
         'suicide bomb': 35,
         'suicide bomber': 31,
         'suicide bombing': 33,
         'sunk': 39,
         'survive': 32,
         'survived': 33,
         'survivors': 30,
         'terrorism': 34,
         'terrorist': 31,
         'threat': 11,
         'thunder': 38,
         'thunderstorm': 33,
         'tornado': 35,
         'tragedy': 36,
         'trapped': 32,
         'trauma': 31,
         'traumatised': 35,
         'trouble': 33,
         'tsunami': 34,
         'twister': 40,
         'typhoon': 38,
         'upheaval': 38,
         'violent storm': 33,
         'volcano': 27,
         'war zone': 24,
         'weapon': 39,
         'weapons': 39,
         'whirlwind': 39,
         'wild fires': 31,
         'wildfire': 33,
         'windstorm': 40,
         'wounded': 37,
         'wounds': 33,
         'wreck': 37,
         'wreckage': 39,
         'wrecked': 39})

In [ ]:
Counter(df["keyword_lemma"])

Counter({'': 61,
         'ablaze': 36,
         'accident': 35,
         'aftershock': 34,
         'airplane accident': 35,
         'ambulance': 38,
         'annihilate': 34,
         'annihilation': 29,
         'apocalypse': 32,
         'armageddon': 42,
         'army': 34,
         'arson': 32,
         'arsonist': 34,
         'attack': 71,
         'avalanche': 30,
         'battle': 26,
         'bioterror': 37,
         'bioterrorism': 30,
         'blaze': 72,
         'bleed': 35,
         'blow up': 66,
         'blight': 32,
         'blizzard': 37,
         'blood': 35,
         'bloody': 35,
         'body bag': 107,
         'bomb': 101,
         'bridge collapse': 35,
         'building burn': 35,
         'building on fire': 33,
         'burn': 67,
         'burn building': 37,
         'bush fire': 25,
         'casualty': 69,
         'catastrophe': 36,
         'catastrophic': 30,
         'chemical emergency': 33,
         'cliff fall': 36,
         'collapse': 69,
         'collide': 74,
         'collision': 39,
         'crash': 67,
         'crush': 68,
         'curfew': 37,
         'cyclone': 32,
         'damage': 41,
         'danger': 36,
         'dead': 30,
         'death': 74,
         'debris': 37,
         'deluge': 69,
         'demolish': 62,
         'demolition': 35,
         'derail': 73,
         'derailment': 39,
         'desolate': 29,
         'desolation': 36,
         'destroy': 69,
         'destruction': 34,
         'detonate': 36,
         'detonation': 32,
         'devastate': 31,
         'devastation': 36,
         'disaster': 35,
         'displace': 36,
         'drought': 35,
         'drown': 104,
         'dust storm': 36,
         'earthquake': 39,
         'electrocute': 66,
         'emergency': 37,
         'emergency plan': 35,
         'emergency service': 33,
         'engulf': 36,
         'epicentre': 12,
         'evacuate': 76,
         'evacuation': 36,
         'explode': 71,
         'explosion': 39,
         'eyewitness': 32,
         'famine': 39,
         'fatal': 38,
         'fatality': 82,
         'fear': 40,
         'fire': 38,
         'fire truck': 33,
         'first responder': 29,
         'flame': 39,
         'flatten': 34,
         'flood': 109,
         'forest fire': 51,
         'hail': 35,
         'hailstorm': 32,
         'harm': 41,
         'hazard': 34,
         'hazardous': 35,
         'heat wave': 34,
         'hellfire': 39,
         'hijack': 65,
         'hijacker': 35,
         'hostage': 68,
         'hurricane': 38,
         'injure': 35,
         'injury': 71,
         'inundate': 35,
         'inundation': 10,
         'landslide': 33,
         'lava': 34,
         'lightning': 33,
         'loud bang': 34,
         'mass murder': 33,
         'mass murderer': 32,
         'massacre': 36,
         'mayhem': 30,
         'meltdown': 33,
         'military': 34,
         'mudslide': 37,
         'natural disaster': 34,
         'nuclear disaster': 34,
         'nuclear reactor': 36,
         'obliterate': 62,
         'obliteration': 29,
         'oil spill': 38,
         'outbreak': 40,
         'pandemonium': 37,
         'panic': 70,
         'police': 37,
         'quarantine': 71,
         'radiation emergency': 9,
         'rainstorm': 34,
         'raze': 35,
         'refugee': 36,
         'rescue': 57,
         'rescuer': 35,
         'riot': 69,
         'rubble': 28,
         'ruin': 37,
         'sandstorm': 37,
         'scream': 105,
         'seismic': 29,
         'sinkhole': 39,
         'sink': 80,
         'siren': 69,
         'smoke': 34,
         'snowstorm': 29,
         'storm': 35,
         'stretcher': 33,
         'structural failure': 35,
         'suicide bomb': 35,
         'suicide bomber': 31,
         'suicide bombing': 33,
         'survive': 65,
         'survivor': 30,
         'terrorism': 34,
         'terrorist': 31,
         'threat': 11,
         'thunder': 38,
         'thunderstorm': 33,
         'tornado': 35,
         'tragedy': 36,
         'trap': 32,
         'trauma': 31,
         'traumatise': 35,
         'trouble': 33,
         'tsunami': 34,
         'twister': 40,
         'typhoon': 38,
         'upheaval': 38,
         'violent storm': 33,
         'volcano': 27,
         'war zone': 24,
         'weapon': 78,
         'whirlwind': 39,
         'wild fire': 31,
         'wildfire': 33,
         'windstorm': 40,
         'wound': 70,
         'wreck': 76,
         'wreckage': 39})

In [ ]:
df[df["location"] != df["location_lower_without_space"]][['location', 'location_lower_without_space']].sample(50)

,location,location_lower_without_space
7266,World,world
3388,"Tri-Cities, Wash.",tri-cities
3084,Michigan,michigan
2745,Columbus,columbus
772,"Brooklyn, NY",brooklyn
4539,Worldwide,worldwide
3536,"Orlando, Fl",orlando
921,Oklahoma,oklahoma
3400,London / Berlin / Online,london/berlin/online
6536,Auburn,auburn
260,Republic of Texas,republicoftexas
6555,Glasgow,glasgow
5225,828/704(Soufside)/while looking goofy in NJ,828/704(soufside)/whilelookinggoofyinnj
3494,New York,newyork
2152,"the void, U.S.A",thevoid
330,California,california
5757,"Los Angeles, CA",losangeles
6172,they/them,they/them
5299,"Los Angeles, CA",losangeles
3179,Nagpur,nagpur
6250,"Neath, South Wales",neath
1207,Ziam af,ziamaf
1509,"New York, NY",newyork
7287,NEPA/570,nepa/570
2834,San Francisco,sanfrancisco
4311,"Denver, Colorado",denver
4625,Louisiana,louisiana
7036,"Santiago,RepÌ¼blica Dominicana",santiago
997,Cloud 9,cloud9
2356,"Funtua, Nigeria",funtua
5163,EIC,eic
7189,"Halifax, NS, Canada",halifax
2156,Blackpool,blackpool
4398,"Athens,Greece",athens
2649,Paname City,panamecity
2420,"Washington DC / Nantes, France",washingtondc/nantes
344,#FLIGHTCITY UK,#flightcityuk
3568,"Tampa, FL",tampa
7032,Unites States,unitesstates
5140,Warsaw,warsaw
6848,LOCAL ATLANTA NEWS 4/28/00 - 4/28/15 FREELANCER,localatlantanews4/28/00-4/28/15freelancer
2677,"New York, NY",newyork
67,CLVLND,clvlnd
4430,Roaming around the world,roamingaroundtheworld
7168,We're All Mad Here,we'reallmadhere
2650,"Winston-Salem, NC",winston-salem
886,Malaysia,malaysia
4883,"St. Louis, Mo",st.louis
2299,NYHC,nyhc
413,Atlanta,atlanta

### 1-2. 看看這些preprocessing 是否有成功減少資料維度

In [ ]:
len(df['keyword'].unique())

222

In [ ]:
len(df["keyword_lemma"].unique())

179

In [ ]:
len(df['location'].unique())

3342

In [ ]:
len(df['location_prefix'].unique())

2866

In [ ]:
len(df['location_lower_without_space'].unique())

2728

### 2. 開始實驗

In [ ]:
from sklearn.feature_extraction import DictVectorizer

In [ ]:
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
import numpy as np
def shuffled_data(a, b):
    assert len(a) == len(b)
    p = np.random.permutation(len(a))
    return a[p], b[p]

clf = DecisionTreeClassifier(random_state=0)
svc_clf = SVC()

In [ ]:
raw_vec = DictVectorizer()
kl_dict = df[['keyword', 'location']].to_dict(orient = 'record')
kl_vector = raw_vec.fit_transform(kl_dict).toarray()
raw_x, raw_y = shuffled_data(kl_vector, df.target.to_numpy())

In [ ]:
raw_dt_scores = cross_val_score(clf, raw_x, raw_y, cv=5, n_jobs = -1)

In [ ]:
raw_dt_scores.mean()

0.7161438753825486

In [ ]:
lemma_vec = DictVectorizer()
klemma_dict = df[['keyword_lemma', 'location']].to_dict(orient = 'record')
klemma_vector = lemma_vec.fit_transform(klemma_dict).toarray()
lemma_x, lemma_y = shuffled_data(klemma_vector, df.target.to_numpy())

/Users/gary/opt/anaconda3/envs/interview/lib/python3.6/site-packages/pandas/core/frame.py:1490: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  FutureWarning,

In [ ]:
lemma_dt_scores = cross_val_score(clf, lemma_x, lemma_y, cv=5, n_jobs = -1)

In [ ]:
lemma_dt_scores.mean()

0.7135144602731831

In [ ]:
prefix_vec = DictVectorizer()
lprefix_dict = df[['keyword', 'location_prefix']].to_dict(orient = 'record')
lprefix_vector = prefix_vec.fit_transform(lprefix_dict).toarray()
lprefix_x, lprefix_y = shuffled_data(lprefix_vector, df.target.to_numpy())

/Users/gary/opt/anaconda3/envs/interview/lib/python3.6/site-packages/pandas/core/frame.py:1490: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  FutureWarning,

In [ ]:
lprefix_dt_scores = cross_val_score(clf, lprefix_x, lprefix_y, cv=5, n_jobs = -1)

In [ ]:
lprefix_dt_scores.mean()

0.7179809715764326

In [ ]:
llowerws_vec = DictVectorizer()
llowerws_dict = df[['keyword', 'location_lower_without_space']].to_dict(orient = 'record')
llowerws_vector = llowerws_vec.fit_transform(llowerws_dict).toarray()
llowerws_x, llowerws_y = shuffled_data(llowerws_vector, df.target.to_numpy())

/Users/gary/opt/anaconda3/envs/interview/lib/python3.6/site-packages/pandas/core/frame.py:1490: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  FutureWarning,

In [ ]:
llowerws_dt_scores = cross_val_score(clf, llowerws_x, llowerws_y, cv=5, n_jobs = -1)

In [ ]:
llowerws_dt_scores.mean()

0.714566312597983

In [ ]:
lprefix_svc_scores = cross_val_score(svc_clf, lprefix_x, lprefix_y, cv=5, n_jobs = -1)

In [ ]:
lprefix_svc_scores.mean()

0.7346636721388987

### 小結
- Model: SVC
- Preprocessing step:
  - Remove URL encode from keyword
  - Remove Nation/States from Location
- Performance: 73.46%